/** user_list.css */
#search-username{
	width:200px;
	float:left;
	margin-right:15px;
}
#search-nickname{
	width:250px;
	float:left;
	margin-right:15px;
}
#search-email{
	width:250px;
	float:left;
	margin-right:15px;
}
