.index-thumbnail{
	width: 200px;
	float: left;
	position: relative;
	min-height: 1px;
	margin-right: 10px;
	margin-left: 15px;
}
.index-thumbnail > .thumbnail{
	width: 200px;
}
.thumbnail .caption {
	height: 50px;
	overflow-y: hidden;
}
.row .article-link a {
	/* color:#333;
	padding-left: 20px; */
}
.description {
	color: #939393;
	margin-bottom: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cate-name {
	margin-bottom: 25px;
	background: #84b3e1;
	padding: 5px;
}
.cate-name a {
	color: #fff;
}
.clearfloat{
	clear:both;
}
.btn-try {
	display: block;
	width: 100%;
	border-radius: 0;
	margin-bottom: 15px;
	padding: 0px 10px;
	text-align: left;
}
