/** order_list.css */
#search-oid{
	width:250px;
	float:left;
	margin-right:15px;
}
#search-name{
	width:350px;
	float:left;
	margin-right:15px;
}
#search-status {
	width:200px;
	float:left;
	margin-right:15px;
}
